<ul class="side-bar mt-3">
    <li>
        <app-dropdown [type]="'Assignees'" [position]="'sidebar'"></app-dropdown>
    </li>
    <hr>
    <li *ngIf="type === 'new-issue'">
        <app-label-dropdown [type]="'select'" [position]="'sidebar'" (labelArray)="handleLabelsEvent($event);">
        </app-label-dropdown>
    </li>
    <li *ngIf="type === 'timeline'">
        <app-label-dropdown [type]="'select'" [position]="'sidebar'" (labelEvent)="handleLabelEvent($event);">
        </app-label-dropdown>
    </li>
    <hr>
    <li>
        <app-dropdown [type]="'Projects'" [position]="'sidebar'"></app-dropdown>
    </li>
    <hr>
    <li>
        <app-dropdown [type]="'Milestones'" [position]="'sidebar'"></app-dropdown>
    </li>
    <hr>
</ul>