.hide {
  display: none;
}
.show {
  display: contents;
}


.circle-loader {
    position: absolute;
    top: 250px;
    left: 950px;
    z-index: 1000;

  }
  
  .circle-loader div {
    height: 10px;
    width: 10px;
    background-color: #0366d6;
    border-radius: 50%;
    position: absolute;
    -webkit-animation: 0.8s opaque ease-in-out infinite both;
    animation: 0.8s opaque ease-in-out infinite both;
  }
  
  .circle-loader > div:nth-child(1) {
    top: -25px;
    left: 0;
  }
  .circle-loader > div:nth-child(2) {
    top: -17px;
    left: 17px;
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
  }
  .circle-loader > div:nth-child(3) {
    top: 0;
    left: 25px;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
  }
  .circle-loader > div:nth-child(4) {
    top: 17px;
    left: 17px;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
  }
  .circle-loader > div:nth-child(5) {
    top: 25px;
    left: 0;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
  }
  .circle-loader > div:nth-child(6) {
    top: 17px;
    left: -17px;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
  }
  .circle-loader > div:nth-child(7) {
    top: 0;
    left: -25px;
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
  }
  .circle-loader > div:nth-child(8) {
    top: -17px;
    left: -17px;
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
  }
  
  @-webkit-keyframes opaque {
    0% {
      opacity: 0.1;
    }
    40% {
      opacity: 1;
    }
    80% {
      opacity: 0.1;
    }
    100% {
      opacity: 0.1;
    }
  }
  
  @keyframes opaque {
    0% {
      opacity: 0.1;
    }
    40% {
      opacity: 1;
    }
    80% {
      opacity: 0.1;
    }
    100% {
      opacity: 0.1;
    }
  }


  @media only screen and (max-width: 1200px) {
    .circle-loader {
      top: 300px;
      left: 600px;
    }
  }
  @media only screen and (max-width: 1100px) {
    .circle-loader {
      top: 300px;
      left: 550px;
    }
  }
  @media only screen and (max-width: 1024px) {
    .circle-loader {
      top: 250px;
      left: 512px;
    }
  }
  @media only screen and (max-width: 900px) {
    .circle-loader {
      top: 250px;
      left: 450px;
    }
  }
  @media only screen and (max-width: 800px) {
    .circle-loader {
      top: 250px;
      left: 400px;
    }
  }
  @media only screen and (max-width: 768px) {
    .circle-loader {
      top: 250px;
      left: 384px;
    }
  }
  @media only screen and (max-width: 600px) {
    .circle-loader {
      top: 250px;
      left: 300px;
    }
  }
  @media only screen and (max-width: 540px) {
    .circle-loader {
      top: 250px;
      left: 270px;
    }
  }
  @media only screen and (max-width: 415px) {
    .circle-loader {
      top: 250px;
      left: 207px;
    }
  }
  @media only screen and (max-width: 376px) {
    .circle-loader {
      top: 250px;
      left: 188px;
    }
  }
  @media only screen and (max-width: 321px) {
    .circle-loader {
      top: 250px;
      left: 160px;
    }
  }
